<h1 class="text-center">Herramientas de administrador</h1>
<h2 class="text-center">Herramientas aun no implementadas</h2>
<div class="container-fluid">
    <button id="logout">Logout</button>
    <div id="productsButton" class="m-2"></div>
</div>