<h1 id="greeting" class="text-center"></h1>

<div class="container-fluid">
    <p id="user"></p>
    <p id="email"></p>
    <p id="age"></p>
</div>

<div class="container-fluid">
    <button id="logout">Logout</button>

    <div id="productsButton" class="m-2"></div>
</div>