* {
    background-color: antiquewhite;
    padding: 0px;
    margin: 0px;
}

.container_campo{

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container_campo label{
    text-align: end;
}

.container_campo label{
    max-width: 100px;
}

